name: build_wheels
on:
  workflow_call:

jobs:
  build_wheels:
    name: Build ${{ matrix.platform }}_${{ matrix.arch }}
    permissions:
      contents: read
    runs-on: ${{ 
      (matrix.platform == 'macosx' && matrix.arch == 'x64' && 'macosx-15-intel') ||
      (matrix.platform == 'macosx' && matrix.arch == 'arm64' && 'macosx-latest') ||
      (matrix.platform == 'win' && matrix.arch == 'x64' && 'windows-latest') ||
      (matrix.platform == 'win' && matrix.arch == 'arm64' && 'windows-11-arm64') ||
      (endsWith(matrix.platform, 'linux') && matrix.arch == 'x64' && 'ubuntu-latest') || 
      (endsWith(matrix.platform, 'linux') && matrix.arch == 'arm64' && 'ubuntu-24.04-arm64') }}
    strategy:
      matrix:
        arch: [x64]                                        # add arm64 and macosx when repo goes public
        platform: [manylinux, win]                         # no scikit-learn wheels for musllinux

    steps:
      - uses: actions/checkout@v5

      - uses: ilammy/msvc-dev-cmd@v1                       # enter Visual Studio dev-shell
        if: matrix.platform == 'win'
        with:
          arch: ${{ matrix.arch }}

      - name: MacOS setup and environment                  # Configure OpenMP and install target
        if: matrix.platform == 'macosx'
        run: | 
          brew install libomp
          echo "OpenMP_ROOT=$(brew --prefix libomp)" >> $GITHUB_ENV
          echo "MACOSX_DEPLOYMENT_TARGET=${{ matrix.arch == 'arm64' && '14.0' || '13.0' }}" >> $GITHUB_ENV

      - name: Build wheels
        uses: pypa/cibuildwheel@v3.2.1
        env:
          CIBW_ARCHS: "native"
          CIBW_BUILD: "*${{ matrix.platform }}*"
          CIBW_SKIP: "*314*"                               # no scikit-learn wheels for Python 3.14(t) (yet)
          CIBW_BUILD_VERBOSITY : "1"                       # show build output for debugging
          PIP_ONLY_BINARY: ":all:"                         # avoid compiling dependencies
          CIBW_ENVIRONMENT_PASS_LINUX: "PIP_ONLY_BINARY"   # also in the manylinux container

      - uses: actions/upload-artifact@v5
        with:
          name: cibw-wheels-${{ matrix.platform }}_${{ matrix.arch }}-${{ strategy.job-index }}
          path: ./wheelhouse/*.whl