name: build_wheels
on:
  workflow_call:

jobs:
  build_wheels:
    name: Build ${{ matrix.platform }}_${{ matrix.arch }}
    permissions:
      contents: read
    runs-on: ${{ 
      (matrix.platform == 'macosx' && matrix.arch == 'arm64' && 'macos-latest') ||
      (matrix.platform == 'win' && matrix.arch == 'x64' && 'windows-latest') ||
      (endsWith(matrix.platform, 'linux') && matrix.arch == 'x64' && 'ubuntu-latest')}}
    strategy:
      matrix:
        include:                                           # no scikit-learn wheels for musllinux
          - platform: win                                  # arm64 runners not readily available
            arch: x64                                      # macos-x64 is deprecated by Apple
          - platform: manylinux
            arch: x64
          - platform: macosx
            arch: arm64

    steps:
      - uses: actions/checkout@v6

      - uses: ilammy/msvc-dev-cmd@v1                       # enter Visual Studio dev-shell
        if: matrix.platform == 'win'
        with:
          arch: ${{ matrix.arch }}

      - name: MacOS setup and environment                  # Configure OpenMP and install target
        if: matrix.platform == 'macosx'
        run: | 
          brew install libomp
          echo "OpenMP_ROOT=$(brew --prefix libomp)" >> $GITHUB_ENV
          echo "MACOSX_DEPLOYMENT_TARGET=${{ matrix.arch == 'arm64' && '15.0' || '13.0' }}" >> $GITHUB_ENV

      - name: Build wheels
        uses: pypa/cibuildwheel@v3.3.0
        env:
          CIBW_ARCHS: "native"
          CIBW_BUILD: "*${{ matrix.platform }}*"
          CIBW_SKIP: "*t-${{ matrix.platform }}*"          # skip free-threading builds
          CIBW_BUILD_VERBOSITY : "1"                       # show build output for debugging
          PIP_ONLY_BINARY: ":all:"                         # avoid compiling dependencies
          CIBW_ENVIRONMENT_PASS_LINUX: "PIP_ONLY_BINARY"   # also in the manylinux container

      - uses: actions/upload-artifact@v6
        with:
          name: cibw-wheels-${{ matrix.platform }}_${{ matrix.arch }}-${{ strategy.job-index }}
          path: ./wheelhouse/*.whl