name: run_linters
on:
  workflow_call:

permissions:
  checks: write
  contents: write
  pull-requests: write

jobs:
  run_linters:
    name: Lint
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'
          cache: 'pip'
      - name: Install linters   # clang-format is already at 18.1.3
        run: pip install black[jupyter]==25.1 
      - uses: wearerequired/lint-action@v2
        with:
          auto_fix: true
          git_email: github-actions[bot]@users.noreply.github.com
          black: true
          black_args: "--color"
          black_extensions: py, ipynb
          clang_format: true
          continue_on_error: false
