name: pull_request
concurrency:
  group: ${{ github.workflow }}-${{ github.event.number }}-${{ github.event.ref }}
  cancel-in-progress: true

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
    paths:
      - 'src/**'
      - 'tests/**'
      - 'LICENSE'
      - 'README.md'
      - 'CMakeLists.txt'
      - 'pyproject.toml'
      - '.github/workflows/build_wheels.yml'

jobs:
  run_linters:
    uses: ./.github/workflows/_run_linters.yml
    secrets: inherit
    permissions:
      checks: write
      contents: write
      pull-requests: write

  build_wheels:
    needs: run_linters
    uses: ./.github/workflows/_build_wheels.yml
    secrets: inherit