name: pull_request
concurrency:
  group: ${{ github.workflow }}-${{ github.event.number }}-${{ github.event.ref }}
  cancel-in-progress: true

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main

jobs:
  test_macos:
    name: Debug macOS build
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v5
      - name: OpenMP setup
        run: |
          brew install libomp
          echo "OpenMP_ROOT=$(brew --prefix libomp)" >> $GITHUB_ENV
          echo "MACOSX_DEPLOYMENT_TARGET=13.0" >> $GITHUB_ENV
      - uses: actions/setup-python@v6
        with:
          python-version: '3.10'
      - name: Install deps
        run: pip install numpy scipy matplotlib scikit-learn scikit-build-core nanobind setuptools_scm
      - name: Install project
        run: pip install --no-deps --no-build-isolation -ve .
      - name: Debug build
        run: |
          cd debug
          python script.py
          cd ..
      - uses: actions/upload-artifact@v5
        with:
          name: debug-outputs-macos
          path: ./debug/*.npy

  pr_status:
    name: PR status
    needs: [test_macos]
    runs-on: ubuntu-latest
    steps:
      - name: PR always success
        run: echo "This is a placeholder job that always succeeds."