name: pull_request
concurrency:
  group: ${{ github.workflow }}-${{ github.event.number }}-${{ github.event.ref }}
  cancel-in-progress: true

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
    paths:
      - 'src/**'
      - 'tests/**'
      - 'LICENSE'
      - 'README.md'
      - 'CMakeLists.txt'
      - 'pyproject.toml'
      - '.github/workflows/build_wheels.yml'

jobs:
  run_linters:
    uses: ./.github/workflows/_run_linters.yml
    secrets: inherit
    permissions:
      checks: write
      contents: write
      pull-requests: write

  build_wheels:
    needs: run_linters
    uses: ./.github/workflows/_build_wheels.yml
    secrets: inherit

  pr_status:
    name: PR Status
    runs-on: ubuntu-latest
    needs: [run_linters, build_wheels]
    if: always()
    steps:
      - name: Check Workflow Status
        run: |
          exit_on_result() {
            if [[ "$2" == "failure" || "$2" == "cancelled" ]]; then
              echo "Job '$1' failed or was cancelled."
              exit 1
            fi
          }
          exit_on_result "run_linters" "${{ needs.run_linters.result }}"
          exit_on_result "build_wheels" "${{ needs.build_wheels.result }}"