name: release
concurrency:
  group: ${{ github.workflow }}-${{ github.event.ref }}
  cancel-in-progress: true

on:
  workflow_dispatch:
  push:
    tags:
      - v*

jobs:
  build_wheels:
    uses: ./.github/workflows/_build_wheels.yml
    secrets: inherit

  make_release:
    name: Make release
    environment: pypi
    needs: build_wheels
    permissions:
      contents: write
      id-token: write
    runs-on: ubuntu-latest
    steps:   
    - uses: actions/checkout@v5

    - uses: actions/download-artifact@v6
      with:
        pattern: cibw-wheels-*
        path: dist
        merge-multiple: true

    - name: Build SDist
      run: python -m build --sdist

    - uses: pypa/gh-action-pypi-publish@release/v1

    - name: Create Github Release
      run: |
        TAG=${{ github.ref }}
        VERSION=${TAG#refs/tags/v}
        gh release create -R JelmerBot/plscan -t "Version $VERSION" -n "**Full Changelog**: https://github.com/JelmerBot/plscan/commits/$TAG" "$TAG" dist/*.whl dist/*.tar.gz
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  
